//ШРИФТ=====================================================================

$font-family: "Poppins", sans-serif;
$font-size: 16px;

//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
//ПІДКЛЮЧЕНІ ШРИФТИ=====================================================================

//ШРИФТ=====================================================================
//CONTAINER=====================================================================
$container-width: 1200px;
$container-padding: 15px;
//CONTAINER=====================================================================
//VARIABLES=====================================================================
$green: #25ab75;
$yellow: #ffe642;
$red: #fb1351;
$grey: rgba(255, 255, 255, 0.074);
//VARIABLES=====================================================================
